.exercise, .numbers div:nth-child(19), .numbers div:nth-child(18), .numbers div:nth-child(17), .numbers div:nth-child(16), .numbers div:nth-child(15), .numbers div:nth-child(14), .numbers div:nth-child(13), .numbers div:nth-child(12), .numbers div:nth-child(11), .numbers div:nth-child(10), .numbers div:nth-child(9), .numbers div:nth-child(8), .numbers div:nth-child(7), .numbers div:nth-child(6), .numbers div:nth-child(5), .numbers div:nth-child(4), .numbers div:nth-child(3), .numbers div:nth-child(2), .numbers div:nth-child(1), article:only-child, article:nth-child(3), article:nth-child(1), article, h2 {
  border: 0.00390625rem solid red;
}
.exercise-title, h2 {
  color: green;
  text-decoration: underline;
}

h2 {
  padding: 1rem;
  text-decoration: none;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem;
}

p {
  text-align: center;
}

article {
  color: red;
  border-color: green;
  font-size: 1rem;
  padding: 1rem;
}

article:nth-child(1) {
  color: blue;
  border-color: green;
  font-size: 1rem;
  padding: 1rem;
}

article:nth-child(3) {
  color: blue;
  border-color: green;
  font-size: 1rem;
  padding: 1rem;
}

article:only-child {
  color: green;
  border-color: blue;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.numbers div {
  /*
  .fs-1rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-2rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-3rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-4rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-5rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-6rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-7rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-8rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-9rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-10rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-11rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-12rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-13rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-14rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-15rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-16rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-17rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-18rem {

      font-size: f.rem(16*$var);
  }
  */
  /*
  .fs-19rem {

      font-size: f.rem(16*$var);
  }
  */
}
.numbers div:nth-child(1) {
  background-color: #f2f2f2;
  color: #0d0d0d;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(2) {
  background-color: #e6e6e6;
  color: #1a1a1a;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(3) {
  background-color: #d9d9d9;
  color: #262626;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(4) {
  background-color: #cccccc;
  color: #333333;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(5) {
  background-color: #bfbfbf;
  color: #404040;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(6) {
  background-color: #b3b3b3;
  color: #4d4d4d;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(7) {
  background-color: #a6a6a6;
  color: #595959;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(8) {
  background-color: #999999;
  color: #666666;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(9) {
  background-color: #8c8c8c;
  color: #737373;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(10) {
  background-color: gray;
  color: gray;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(10) {
  color: red;
  background-color: blue;
}
.numbers div:nth-child(11) {
  background-color: #737373;
  color: #8c8c8c;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(12) {
  background-color: #666666;
  color: #999999;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(13) {
  background-color: #595959;
  color: #a6a6a6;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(14) {
  background-color: #4d4d4d;
  color: #b3b3b3;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(15) {
  background-color: #404040;
  color: #bfbfbf;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(16) {
  background-color: #333333;
  color: #cccccc;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(17) {
  background-color: #262626;
  color: #d9d9d9;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(18) {
  background-color: #1a1a1a;
  color: #e6e6e6;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}
.numbers div:nth-child(19) {
  background-color: #0d0d0d;
  color: #f2f2f2;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0rem;
}

/*# sourceMappingURL=style.css.map */
