@use 'variables' as v;
@use 'function' as f;


@mixin article-card($color, $border-color: v.$color-tertiary, $font-size: f.rem(16)) { 
    color: $color;
    border-color: $border-color;
    font-size: $font-size;
    @extend .exercise;
    padding: f.rem(16);
}

.exercise { 
    border: f.rem(0.0625) solid v.$color-primary;

  &-title {
    color: v.$color-tertiary;
    text-decoration: underline;
  }
}

h2 {
    @extend .exercise;
    @extend .exercise-title;
    padding: f.rem(16);
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: f.rem(16);
}

section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

p {
    text-align: center;
}

article {
    @include article-card(v.$color-primary);
}

article:nth-child(1) {
    @include article-card(v.$color-third);
}

article:nth-child(3) {
    @include article-card(v.$color-third);
}


article:only-child {
    @include article-card(v.$color-tertiary, v.$color-third, f.rem(24));
    margin-top: f.rem(16);
}

@for $var from 1 to 20 { 
    .fs-#{$var}rem {
        background-color: darken(white, $var * 5%);
        color: lighten(black, $var * 5%);
        font-size: f.rem(16*$var);
    }
    
    
    @if $var == 10 {
         //color: v.$color-primary;
    }
}

/*
.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}*/